{% set isWinningCube = winningCubes|isCoordsInCubeArray(x, y) %}
{% set isSelectedCube = game.selectedCube.x|default(-1) == x and game.selectedCube.y|default(-1) == y %}
{% set className = 'cube cube-' ~ cube|getCubeSymbol %}
{% if isWinningCube %}
    {% set className = className ~ ' winning-cube' %}
{% endif %}
{% if isSelectedCube %}
    {% set className = className ~ ' selected-cube' %}
{% endif %}
<div class="{{className}}">
    {% if movables|isCoordsInCoordsArray(x, y) %}
        <form
            class="form-cube"
            action="{{ url('game', { id: game.id }) }}"
            method="post"
        >
            <input type="hidden" name="token" value="{{ csrf_token('move-cube') }}" />
            <input type="hidden" name="x" value="{{ x }}" />
            <input type="hidden" name="y" value="{{ y }}" />
            <button class="movable-cube-btn" type="submit"></button>
        </form>
    {% endif %}
</div>
